.marketing-easy {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  .logo-large {
    height: 273px;
    width: 244px;
    fill: #fff;
  }

  h2 {
    font-family: $font-brand-bold;
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 60px;
  }

  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 52px;
    }
  }
}

p {
  font-family: $font-main-black;
  font-size: 22px;
}

.control-label {
  margin-bottom: 0;
  color: $color-brand;
}

.form-control {
  border-radius: 0;
}

input.form-control {
  background-color: transparent;
}

textarea.form-control {
  margin-top: 25px;
}

span.wpcf7-list-item {
  margin-left: 0;
}

.service-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 14px;
}

.social {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    background-image: url(images/sprites-png.png);
    background-repeat: no-repeat;

    & + a {
      margin-left: 20px;
    }

    &#facebook {
      height: 36px;
      width: 36px;
      background-position: 0 0;
    }
    &#instagram {
      height: 39px;
      width: 39px;
      background-position: -46px 0;
    }
    &#twitter {
      height: 26px;
      width: 31px;
      background-position: -97px 0px;
    }
    &#linkedin {
      height: 36px;
      width: 36px;
      background-position: -137px 0;
    }
    &#youtube {
      height: 36px;
      width: 50px;
      background-position: -188px 0;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}

.newsletter-form {
  .form-control {
    border-radius: 0;
  }

  .btn-main {
    border: none;
    margin-left: 15px;
  }
}

.services-nav {
  a {
    color: #333;
    font-family: $font-main;

    &:hover,
    &:focus {
      color: $color-alt;
      font-family: $font-main-heavy;
      text-decoration: none;
    }
  }
}

.affiliations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    margin: 10px;
  }

  .affiliate-code {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#footer {
  background-color: #fff;
  .footer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.copyright {
  min-width: 256px;
}
