body{
  font-family: $font-main;
  font-size: 18px;
  color: #333;
}

h1{
  font-family: $font-main-black;
  font-size: 72px;
  color: $color-alt-light;
  text-transform: uppercase;
}

h2{
  font-family: $font-main-black;
  font-size: 40px;
  color: $color-alt;
  text-transform: uppercase;
}

h3{
  font-family: $font-main-black;
  font-size: 20px;
  color: $color-alt;
  text-transform: uppercase;
}

a{
  transition: all .3s ease;
}

.btn-main{
  color: $color-brand-gray;
  text-transform: uppercase;
  padding: 5px 40px;
  border: 2px solid $color-brand;
  background-color: transparent;
  display: inline-block;
  text-align: center;

  &:hover,
  &:focus{
    background-color: $color-brand;
    color: #fff;
    text-decoration: none;
  }

  &.btn-lrg{
    font-size: 36px;
    padding: 10px 20px;
  }
}

.blue-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(2, 32, 62, .6);
}

section{
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

#our-purpose{
  h2{
    font-size: 70px;
    font-family: $font-main;
    color: $color-alt-light;

    .bold{
      font-family: $font-main-black;
    }
  }

  h3{
    font-size: 40px;
    font-family: $font-main;
    color: $color-alt-light;

    .bold{
      font-family: $font-main-black;
    }
  }
}

.service-card{
  display: block;
  margin-bottom: 40px; 

  h4{
    font-size: 22px;
    font-family: $font-main-heavy;
    color: $color-brand;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  p{
    font-family: $font-main-medium;
    color: #fff;
    line-height: 1.2em;
  }

  &:hover,
  &:focus{
    text-decoration: none;
  }

  .service-icon-bg{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: $color-brand;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    overflow: hidden;
    transition: all .3s ease;

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: bottom center;
      background: $color-brand-light;
      transition: transform .5s ease-in-out;
    }
  }

  &:hover,
  &:focus{
    .service-icon-bg{
      transform: scale(1.2);

      &::after{
        transform: scaleY(1);
      }
    }
  }

  .service-icon{
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 5;
  }
}